<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="footer-top">
                    <h2 class="logo-title">
                        <a href="{{ "/" | relative_url }}" class="logo-text">{{ site.title }}</a>
                    </h2>
                    <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
                </div>
                <div class="footer-bottom">
                    
                    <div class="footer-social">
                        <ul class="list-reset">
                            {% if site.github %}<li><a href="{{ site.github }}" target="_blank" rel="noopener" ><i class="ion ion-logo-github"></i> Github</a></li>{% endif %}
                            {% if site.linkedln %}<li><a href="{{ site.linkedln }}" target="_blank" rel="noopener" ><i class="ion ion-logo-linkedin"></i> Linkedln</a></li>{% endif %}
                            {% if site.linkedln %}<li><a href="{{ site.website }}" target="_blank" rel="noopener" ><i class="ion ion-earth"></i> Website</a></li>{% endif %}
                         
                            


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> <!-- /.footer -->